* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */

ul,
li {
  list-style-type: none;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}

.menu,
li {
  display: inline-block;
}
