@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  min-height: 100px; /* hamburger css */
}

.nav__logo {
  /* border: solid 1px fuchsia; */
  min-width: 100px;
}

.nav__logo--image {
  width: 25%;
}

.menu {
  /* border: solid 1px green; */
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: #000000;
}

.menu,
li {
  display: inline-block;
}

ul,
li {
  list-style-type: none;
  padding: 15px;
}

.menu__li--booking {
  border-radius: 5px;
  padding: 15px 25px;
  background-color: #d7a587;
}

.menu a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: #000000;
  text-decoration: none;
}

.menu a:hover {
  opacity: 0.8;
  transition: 0.2s all;
}

.menu,
.hamburger-menu {
  display: none;
}

.hamburger-label {
  color: #d7a587;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

.hamburger-menu:checked ~ nav {
  display: block;
}

/* main */

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
}

main {
  width: 100%;
}

.hero-banner--image {
  width: 100%;
  /* margin-bottom: -5px; */
}

.main__content {
  background-color: #d7a587;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main__content__intro--heading {
  width: 100%;
  border: solid 1px fuchsia;
}

.main__content__intro--clinics {
  border: solid 1px aqua;
  width: 100%;
}

.main__content--locations {
  width: 100%;
  background-color: #ff6699;

  height: 700px;
}

/* footer */

footer {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  width: 45%;
  border: solid 1px red;
  padding: 10px;
  text-align: left;
}

.footer__social-media {
  width: 45%;
  border: solid 1px purple;
  padding: 10px;
  text-align: right;
}

.fa-instagram {
  font-size: 2rem;
  color: #d7a587;
}

.fa-instagram-square {
  font-size: 2rem;
  color: #d7a587;
}

.fa-facebook-square {
  font-size: 2rem;
  color: #d7a587;
}

/* media queries */

@media (min-width: 600px) {
  .menu {
    display: flex;
  }

  .hamburger-label {
    display: none;
  }

  .nav__logo--image {
    min-width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
  }

  .menu__li--booking {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #d7a587;
    display: inline-block;
    text-align: center;
  }

  .menu a {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
  }

  .menu a:hover {
    opacity: 0.8;
    transition: 0.2s all;
  }

  .nav__logo--image {
    min-width: 100px;
  }

  .menu,
  .hamburger-menu {
    display: none;
  }

  .hamburger-menu:checked ~ nav {
    display: block;
  }
}
